.app {
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;

  h2 {
    color: darkgray;
    background-color: white;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
  }

  div {
    &.logo {
      text-align: center;
      height: 50px;

      img {
        height: 50px;
        width: auto;
      }
    }
    &.recipes {
      position: relative;

      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          background-color: white;
          margin-bottom: 20px;
          color: black;
          padding: 10px 0px;

          img {
            width: 100%;
          }
        }
      }
    }

    .drilldown {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: white;

      .drilldown-header {
        background-color: darkgray;
        padding: 10px 0px;

        button {
          color: white;
          background-color: inherit;
          border: none;
        }
      }

      .drilldown-details {
        padding: 0px 10px;

        img {
          height: 100px;
        }

        .ingredients {
          li {
            padding: 0;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
